<div class="container-fluid" style="background-image: url('../images/forest2.jpg'); background-size:cover;">
	<div class="row">
		 <br/>
		 <br/>
	</div>
	<div>
		 <div class="col-lg-6 col-lg-offset-3" class="panel panel-success" style="opacity: 0.9; margin-top:5px">
				<div class="well bs-component">
					<h2>
						<div class="panel-head">
							Top Ranking Games
						</div>
					</h2>
					<h4>
						<div class="panel-body">
							<table class="table">
								<tbody>
									<tr ng-repeat="game in topFiveGames" style="cursor: pointer;" ng-click="goToGameDetails(game.gameKey)">
										<td>
												<div style="float: left;">{{ game.gameName }}</div>
										</td>
										<td>
												<div style="float: right; position: relative; left: -50%;" class="text-success">$ {{game.steamInfo.price_overview.final}}</div>
										</td>
										<td>
												<div style="float: right;" class="label label-default">{{ game.voteTotal }}</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</h4>
				</div>
		 </div>
		 <div class="col-lg-10 col-lg-offset-1">
				<div class="well bs-component" style="opacity: 0.9;">
					 <table class="table table-striped table-hover ">
							<thead>
								 <tr>
										<b>
											 <h5>
												 <th align="center">Team Name</th>
													<th>Player</th>
													<th>First Choice</th>
													<th>Second Choice</th>
													<th>Third Choice</th>
													<th>T5 Cost</th>
										</b>
										</h5>
								 </tr>
							</thead>
							<tbody>
								 <tr style="{{'border-bottom:' + $index % 2 + 'pt solid black;'}}" ng-repeat="person in people">	
										<td style="border-bottom:1pt solid black;" rowspan="2" ng-if="$index % 2 == 0" align="center" valign="middle"><b><h4>{{ person.team }}</h4></b></td>
										<td>{{ person.personName }}</td>
										<td><img ng-src="{{ gameImageForTable(person.gameVote3) }}" width="150" height="50" />
											 <span class=".small"><br/>{{gameplayTime(person, person.gameVote3)}}</span>
										</td>
										<td><img ng-src="{{ gameImageForTable(person.gameVote2) }}" width="150" height="50" />
											 <span class=".small"><br/>{{gameplayTime(person, person.gameVote2)}}</span>
										</td>
										<td><img ng-src="{{ gameImageForTable(person.gameVote1) }}" width="150" height="50" />
											 <span class=".small"><br/>{{gameplayTime(person, person.gameVote1)}}</span>
										</td>
										<td style="border-left: 3px solid black; text-align: center">
											 <h4><span class="text-success">${{person.priceToBuyTopFive}}</span></h4>
										</td>
								 </tr>
							</tbody>
					 </table>
				</div>
		 </div>
		 <div class="col-lg-6 col-lg-offset-3">
		 <div class="panel success" style="opacity: 0.9;">
				<div class="well bs-component">
						<h2>
							<div class="panel-head">
								All Games
							</div>
						</h2>
						<h4>
							<div class="panel-body">
								<table class="table">
									<tbody>
										<tr ng-repeat="game in games" style="cursor: pointer;" ng-click="goToGameDetails(game.gameKey)">
											<td>
													<div style="float: left;">{{ game.gameName }}</div>
											</td>
											<td>
												<div style="float: right; position: relative; left: -50%;" class="text-success">{{game.numUniquePersonVotes}} votes</div>
											</td>
											<td>
													<div style="float: right; position: relative; left: -50%;" class="text-success">$ {{game.steamInfo.price_overview.final}}</div>
											</td>
											<td>
													<div style="float: right;" class="label label-default">{{ game.voteTotal }}</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</h4>
					</div>
		 </div>
		 </div>
	</div>
</div>