<div class="container-fluid" style="background-image: url('../images/forest2.jpg'); background-size:cover;">
       <div class="row">
          <div class="col-lg-12">
                <div class="col-lg-4">
                  <h1 id="forms" style="margin-top:1%; color:black">{{selectedPerson.personName}}</h1>
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                </div>
          </div>
        </div>

        <div class="row" style="opacity: 0.9;">
          <div class="col-lg-6">
            <div class="well bs-component">
              <h4>Add New Games</h4>
                <input type="text" ng-model="newGameName" uib-typeahead="game.name for game in fullSteamGameList | filter:$viewValue | limitTo:15" class="form-control">
                <br/>
                <button type="submit" class="btn btn-warning" ng-click="addNewGame(newGameName)">Add New Game</button>
                <br/>
              <h4 style="text-align:center">Vote for the games you want to play</h4>
              <form class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label has-error">1<sup>st</sup> Choice<br/>(3 points)</label>
                    <div class="col-lg-10">
                      <select ng-disabled="votingDisabled" class="form-control" ng-style="vote1Background" ng-model="gameVote1selection" ng-change="onGameVote1Change()" ng-options="game.gameKey as game.gameName for game in games track by game.gameKey">
                      </select>
                      <img src="../images/checkmark.png" style="width:10px;height:10px;" ng-show="gameVote1Success"/>
                      <div ng-show="gameVote1Error">{{voteError}}</div>
                      <br>
                    </div>
                  </div>
				  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label has-warning">2<sup>nd</sup> Choice<br/>(2 points)</label>
                    <div class="col-lg-10">
                      <select ng-disabled="votingDisabled" class="form-control" ng-style="vote2Background" ng-model="gameVote2selection" ng-change="onGameVote2Change()" ng-options="game.gameKey as game.gameName for game in games track by game.gameKey">
                      </select>
                      <img src="../images/checkmark.png" style="width:10px;height:10px;" ng-show="gameVote2Success"/>
                      <div ng-show="gameVote2Error">{{voteError}}</div>
                      <br>
                    </div>
                  </div>
				  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label has-success">3<sup>rd</sup> Choice<br/>(1 point)</label>
                    <div class="col-lg-10">
                      <select ng-disabled="votingDisabled" class="form-control" ng-style="vote3Background" ng-model="gameVote3selection" ng-change="onGameVote3Change()" ng-options="game.gameKey as game.gameName for game in games track by game.gameKey">
                      </select>
                      <img src="../images/checkmark.png" style="width:10px;height:10px;" ng-show="gameVote3Success"/>
                      <div ng-show="gameVote3Error">{{voteError}}</div>
                      <br>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-lg-offset-1">

              <div class="panel panel-info">
        <div class="panel-heading">LANoel 2018 Games</div>
        <div class="well bs-component">
			  <div class="panel-body">
				<div class="list-group" ng-repeat="game in topFiveGames">
				  <a ng-href="/game/{{game.gameKey}}" class="list-group-item">
            <h3><span style="float: right;" class="label label-default">{{ game.voteTotal }}</span></h3>
					{{ game.gameName }}
				  </a>
				</div>
        </div>
        </div>
			</div>
          </div>
        </div>
      </div>
