<div class="container-fluid">
	<div class="row container-fluid">
		<div class="container-fluid">
			<h3>
				<center>Rounds</center>
			</h3>
			<ul class="nav nav-tabs">
				<li class="" ng-repeat="round in rounds" ng-click="onTabClick(round)" ng-class="{active:$first}"><a data-toggle="tab" aria-expanded="false">{{ round.game.gameName }}</a></li>
			</ul>


			<div id="myTabContent" class="tab-content">

				<div class="container-fluid">
					<div id="scorePanel" class="panel panel-info lanoeltransition">
						<div class="input-group panel-heading">
							<span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="onSubmit()">Submit scores</button>
								</span>
						</div>
						<div class="panel-body lanoelList">
							<div class='panel-body ng-scope'>
								<div class="ng-scope container-fluid">
									<ul dnd-list="selectedRound.places" class="col-lg-4">
										<li ng-repeat="place in selectedRound.places" dnd-draggable="place" dnd-moved="selectedRound.places.splice($index, 1)" dnd-effect-allowed="move"
											dnd-selected="selected = place" class="background-man">
											<dnd-nodrag>
												<div dnd-handle class="handle">
													<span>
														<h4>
														<div class="col-lg-2">
															{{ $index + 1 }}
														</div>
														<div class="col-lg-2">
															<b>{{place.person}}</b>
														</div>
														</h4>
													</span>
												</div>
											</dnd-nodrag>
										</li>
										<li class="dndPlaceholder">
											Drop any <strong>person</strong> here
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</div>