<!DOCTYPE html>
<html lang="en" ng-app="lanoel">
  <head>
	<base href="/"></base>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>LANOEL2016!</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/angular-dragdrop.min.js"></script>
  <script src="js/ui-bootstrap-tpls-2.1.2.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

	<script src="lanoel.js"></script>
  <script src="js/app/controllers/gameController.js"></script>
  <script src="js/app/controllers/headerController.js"></script>
  <script src="js/app/controllers/loginController.js"></script>
  <script src="js/app/controllers/personController.js"></script>
  <script src="js/app/controllers/tournamentController.js"></script>
  <script src="js/app/controllers/updateScoresController.js"></script>
  </head>
  <body ng-controller="HeaderController">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">LANoel 2016</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" id="themes">Games<span class="caret"></span></a>
              <ul style="overflow-y:auto; max-height:600px" class="dropdown-menu" aria-labelledby="themes">
				<li ng-repeat="game in games">
					<a href="/game/{{game.gameKey}}"><img ng-src="{{game.steamInfo.header_image}}" width="250" height="80" /></a>
				</li>
              </ul>
            </li>
            <li>
              <a href="https://twitter.com/hashtag/makelanoelgreatagain">Twitter Integration</a>
            </li>
			<li>
              <a href="/tournament">Tournament</a>
            </li>
          </ul>
		  <ul class="nav navbar-nav navbar-right" id="accountList">
			<li ng-show="!checkUserLogin()" id="loginLink"><a style="cursor:pointer" data-toggle="modal" data-target="#myModal">Login</a></li>
			<li ng-show="checkUserLogin()"id="logoutLink"><a style="cursor:pointer" ng-click="logoutClick()" >Logout</a></li>
			<li ng-show="checkUserLogin()"id="updateScoresLink">
              <a style="cursor:pointer" ng-click="updateScoresClick()">Update Scores</a>
      </li>
      <li ng-show="checkUserLogin()"id="myAccountLink">
              <a style="cursor:pointer" ng-click="getMyAccount()">My Account</a>
      </li>
		  </ul>
        </div>
      </div>
    </nav>
	<br/>
	<br/>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label for="username" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="usernameField" ng-model="user.username" placeholder="username">
                    </div>
                  </div>
				  <div class="form-group">
                    <label for="password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" id="passwordField" ng-model="user.password" placeholder="password">
                    </div>
                  </div>
                </fieldset>
                </fieldset>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="onLogin()" ng-keypress="onLogin()" data-dismiss="modal">Login</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#passwordResetModal">Forgot Password</button>
        </div>
      </div>
      
    </div>
  </div>
  <div class="modal fade" id="passwordResetModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reset Password</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label for="username" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="emailfield" ng-model="user.email" placeholder="Email">
                    </div>
                  </div>
                </fieldset>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="onPasswordReset()" ng-keypress="onPasswordReset()" data-dismiss="modal" data-toggle="modal" data-target="#passwordResetSuccessModal">Reset Password</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="passwordResetSuccessModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Success!</h4>
        </div>
        <div class="modal-body">
          <p>Check your email for a password reset email from no-reply@omegasixcloud.net</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
	<!-- angular templating -->
		<!-- this is where content will be injected -->
    <div ng-view></div>

  </body>
</html>
